<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMMN-MvfmjhYhCQ4GPGnahXyH-pg0Ngr8</string>
	<key>GCM_SENDER_ID</key>
	<string>24242334741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.malucroches</string>
	<key>PROJECT_ID</key>
	<string>malu-croches-93nfql</string>
	<key>STORAGE_BUCKET</key>
	<string>malu-croches-93nfql.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24242334741:ios:50bc1f732c0b6b39bf321c</string>
</dict>
</plist>